extends layout

block content

    .container

        .navbar.navbar-fixed-top.navbar-inverse
            .navbar-inner.nn-nav
                a.brand(href="#") JavaScript Neural Network Toy
                ul.nav
                    li.active
                        a(data-toggle="modal", data-target="#helpModal") How Do I Use This?
        .row

            .span3
                .config-container
                    .alert.alert-success#status.hide
                        p
                            strong Network Trained
                    h5 Config
                    hr
                    p Error:
                        input(type="text", id="error")
                    br
                    p Learning Rate:
                        input(type="text", id="rate")
                    br
                    p Per Iteration:-
                    p Log Error:
                        input(type="text", id="logError")
                    br
                    p Chart Error:
                        input(type="text", id="chartError")
                       

            .span7
                .controls
                    button.btn.btn-success#recog Recog
                    button.btn.btn-warning#clear Clear Panels
                    button.btn#reset Reset Network
                    button.btn.btn-primary#train Train
                    button.btn.btn-danger#stop Stop Training

                .pad-container
                    #panelpad-container
                    #inputpad-container

                
                h5 Chart (displayed on completion of training)
                #chart-container

            .span2
                h4 Guess: 
                    span#guess
                br
                h5 Error Log
                .log-container
                    textarea#log

    .modal.hide.fade#helpModal
        .modal-header
            h3 How to use this thing...
        .modal-body

            p Press the train button to train the network. You should see the error being logged and decreasing in the Log text area. 

            p Then, use the mouse to draw a number (1, 2 or 3) in the green box and press the green button labelled "Recog"

            hr
            .img-container
                img(src="/images/nndemo.png")
            hr

            p If it doesn't get it right the first time try clearing the panels and drawing it again.

            p Sometimes training takes forever, if it takes more than approx 40 seconds I would stop the training, reset the network and start again or just refresh the page and start over.


        .modal-footer
            button.btn.btn-primary(data-dismiss="modal") Got it!



        

