extends layout

block content

    .container
        .hero-unit

            .pad-container
                #panelpad-container
                #inputpad-container
                #chart-container
                

            #controls
                button.btn#recog Recog
                button.btn#clear Clear
                button.btn#train Train
                button.btn#stop Stop Training