extends layout

block content

    .container

        .navbar.navbar-fixed-top.navbar-inverse
            .navbar-inner.nn-nav
                a.brand(href="#") JavaScript Neural Network Toy
                ul.nav
                    li.active
                        a(href="#") How Do I Use This?
        .row

            .span3
                h5 Config
                hr
                .config-container
                    p Error:
                        input(type="text", id="error")
                    br
                    p Learning Rate:
                        input(type="text", id="rate")
                    br
                    p Per Iteration:-
                    p Log Error:
                        input(type="text", id="logError")
                    br
                    p Chart Error:
                        input(type="text", id="chartError")
                       


            .span7
                .controls
                    button.btn.btn-success#recog Recog
                    button.btn.btn-warning#clear Clear Panels
                    button.btn#reset Reset Network
                    button.btn.btn-primary#train Train
                    button.btn.btn-danger#stop Stop Training

                .pad-container
                    #panelpad-container
                    #inputpad-container
                
                h5 Chart (displayed on completion of training)
                #chart-container

            .span2
                h4 Guess: 
                    span#guess
                br
                h5 Error Log
                .log-container
                    textarea#log



        

